@model WebApp.Models.Home.HomePage

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Number of friends: @Model.FriendsNumber</h5>
</div>

<div class="text-center">
    <h5 class="display-4">Number of countries: @Model.CountriesNumber</h5>
</div>

<div class="text-center">
    <h5 class="display-4">Number of states: @Model.StatesNumber</h5>
</div>